<!--MAIN-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SSUG</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<app-header></app-header>
<main id="main">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col text-uppercase text-center">
                    <small>registro</small>
                    <h2>SISTEMA DE SALUD DE LA UNIVERSIDAD DE GUANAJUATO</h2>
                </div>
            </div>
            <div class="row">
                    <div class="col pt-4 pb-4 col-md-10 offset-md-1">
                    <app-form-registro></app-form-registro>  
                    </div>
         </div> 
        </div>
</main>
<app-footer></app-footer>
</body>
</html>